<% provide(:title, "Acerca del Tecn&oacute;logo") %>

<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Acerca del Tecn&oacute;logo</h2>
                    <p class="lead">
                        La carrera de “Tecnólogo en Informática” constituye parte de una oferta educativa llamada 
                        genéricamente “Educación Tecnológica Terciaria”; ofrecida conjuntamente por la
                         <a href="http://www.universidad.edu.uy/">Universidad de la República (UdelaR)</a> 
                        y la <a href="http://www.anep.edu.uy/anep/">Administración Nacional de la Educación Pública (ANEP)</a>. 
                        <br>
                        El Tecnólogo en Informática 
                        sede Paysandú se inicia en mayo del 2009 y es la única sede habilitada al norte del Río Negro.
                        Se ubica dentro del Puerto Regional Digital Paysandú Innova (IdP).
                        <br>
                        Su objetivo es la formación de profesionales capacitados para actuar en la realización, puesta 
                        en marcha, mantenimiento y administración de sistemas informáticos para afrontar las 
                        necesidades y demandas del sector productivo, así como contribuir al desarrollo de la 
                        sociedad.
                    </p>
                </div>
                <br>
                <br>
                
                <div class="col-md-6">
                    
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" class="img-responsive" src="/fachada.jpg" alt="frente">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/nave.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/lab22.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/lab23.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    
                </div>
                
            </div>

        </div>

</div>
