<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Perfil del egresado: </h2>
                    <p class="lead">El Tecnólogo en Informática será capaz de desarrollar sistemas de pequeño y mediano porte y
                                    podrá integrarse a grupos de desarrollo de proyectos de porte superior. 
                                    Contará con la habilidad de construir y evaluar soluciones informáticas abarcando las tareas de 
                                    construcción, pruebas y documentación, integrando eventualmente distintas tecnologías. 
                                    Poseerá habilidades de comunicación, tanto para presentar sus soluciones dentro del área, como
                                    para interactuar con profesionales de otras áreas y público en general. Esto incluye la capacidad
                                    de trabajar en equipo en todos los aspectos de su actividad.
                                    <br>
                                    <br>
                                    Al egresar de la carrera el Tecnólogo en Informática habrá adquirido una formación en las áreas fundamentales de la computación
                                    con una profundización en alguna subárea de la misma. Dicha formación incluirá aspectos teóricos fundamentales y una fuerte componente práctica, incluyendo el manejo de tecnologías actualizadas. También incluirá la experiencia de desarrollo de una solución informática a un problema real, preferentemente realizada en el contexto de una pasantía en una empresa (Proyecto/Pasantía).
                                    <br>
                                    <!--a target="_blank" href="http://www.antel.com.uy">Antel </a> o quizas no por las <a target="_blank" href="http://www.google.com">Peliculas</a-->
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/pasillo2.jpg" alt="">
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>