<!--<div>-->
<!--  <%# flash.each do |key, value| %>-->
<!--    <div>-->
<!--      <a href="#" data-dismiss="alert">×</a>-->
<!--        <%#= value %>-->
<!--    </div>-->
<!--  <%# end %>-->
<!--</div>-->
<div class="contaSty">
    <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3371.7636080539423!2d-58.085891419498715!3d-32.318204022875015!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xcee1009272710a0c!2sCentro+MEC+Paysand%C3%BA!5e0!3m2!1ses-419!2suy!4v1429590955312" width="100%" height="500px" frameborder="0" style="border:0"></iframe>
    </div>
</div>
<script type="text/javascript">
    setTimeout(function() { 
    window.location.href = "/contacts"; 
 }, 3500)
    //window.location.href=  // put your correct path in a string here
 </script>
 
 