
<div class="text-center" style="margin: 10%">
  <h1><%= details[:name] %></h1>
  <h3><%= details[:message] %></h3>
  <%= link_to "Regresar", root_path, class:"btn btn-default btn-md" %>
</div>

<style>
  footer{
    bottom:0;
  }
</style>