

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p class="text-center">
            <%= value %>
        </p>
    </div>
<% end %>


<script>
    $('.alert').fadeOut(20000);
</script>